<!-- Header START -->
<header class="header-sticky header-absolute">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand me-0" href="/">
				<img class="light-mode-item navbar-brand-item" src="/images/abistama_color_small.png" alt="logo">
			</a>
			<!-- Logo END -->
            <button class="navbar-toggler ms-sm-3 p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-animation">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
			<!-- Main navbar START -->
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll">
					<!-- Nav item -->
					<li class="nav-item"> <a class="nav-link" href="/pricing">Pricing</a> </li>
                    <!-- Nav item -->
					<li class="nav-item"> <a class="nav-link" href="/about">About us</a> </li>
					<!-- Nav item -->
					<li class="nav-item"> <a class="nav-link" href="mailto:contact@abistama.com">Contact us</a> </li>
				</ul>
			</div>
			<!-- Main navbar END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->